<app-search></app-search>
<app-tags></app-tags>

<app-board></app-board>
<ul>
    <li *ngFor="let item of items">
       <div class="cube" >
        <a routerLink="/item/{{item.id}}"> 
            <img [src]="item.imageUrl" [alt]="item.name" 
            cdkDrag (cdkDragEnded)="onDragEnded($event,item)" (cdkDragStarted)="onDragStart($event,item)"/>

           
        </a>

            <div class="content">
               
                   
        
                <div class="name">
                    {{item.name}}
                </div>
                <span class="favorite {{item.favorite? '': 'not'}}">
                    ❤
                </span>

                <br/>
                <div class="product-item-footer">
                    <div class="tags">
                      <span *ngFor="let tag of item.tags">
                        {{tag}}
                      </span>
                    </div>
          
                    <div class="messure">

                        <div class="width">
                            <span class="width-title">רוחב</span>
                            
                            {{item.width}}
                            <span class="width-cm">ס"מ</span>
                        </div>
                        <div class="length">
                            <span class="lenth-title">אורך</span>
                            {{item.length}}
                            <span class="length-cm">ס"מ</span>

                        </div>
                    </div>
                </div>

                <div class="buttons">
                    <!-- <button (click)="addToCart(item)"   >הוסף
                    </button> -->
                    <button (click)="removeFromCart(item)" *ngIf="isSuperAdmin"> הסר 
                    </button>
                </div>
                <!-- <div class="price">
                    <span>
                        &#8362;{{item.price }}
                    </span>
                  
                </div> -->
                  
                </div>
               
               
     </div>
    </li>
</ul>


