<div class="container" dir="rtl" >
    <div class="content" *ngFor="let order of orders" >

        <div dir="rtl">
        <h2> לוח מספר: {{order.id}}</h2>
        <div class="details">
            <div>
                <strong> תאריך</strong>   {{order.createdAt  | date:'medium'}}
            </div>

            <div>
                <strong> שם</strong>   {{order.name}}
            </div>

            <!-- <div>
                <strong> כתובת</strong>   {{order.address}}
            </div> -->

            <div>
                <strong> סטטוס</strong>   {{getStatus(order)}}
            </div>

            <div class="adminNotes">
                <strong> הערות מנהל</strong>   {{order.adminNotes}}
            </div>
        </div>

        <order-items-list [order]="order"></order-items-list>

    </div>
    
 


        <div class="board-container" >

            <div class="center-content"
                [style.height.cm]="12"
                [style.width.cm]="order.widthOfBoard">
                    <ul>
                        <li *ngFor="let cartItem of order.items" >
                            <div class="image-container"
                            [style.height.cm]="cartItem.item.length/10"
                            [style.width.cm]="cartItem.item.width/10">
                            <img class="scaled-image"
                            [src]="cartItem.item.imageUrl"
                            cdkDrag [cdkDragFreeDragPosition]="getPosition(cartItem.position)"
                            cdkDrag cdkDragBoundary=".center-content" 
                            (cdkDragEnded)="onDragEnded($event, cartItem.item.imageUrl, order)">
                            </div>
                        </li>
                    </ul>
             </div>
        </div>
        <div class="buttons">
            <button (click)="saveAfterEdit(order)" >
              שמירה לאחר עריכה
            </button>

    </div>

    
</div>