.container {
  margin-top: 1rem;
  margin-right: 1rem;
  align-items: center;
  justify-content: center;

}

.content{
  margin-top: 2rem;
  z-index: 1; /* Lower than the button */

}

.details {
  z-index: 1; /* Lower than the button */

  margin-bottom: 1rem;
}

.details >div {
  margin: 1rem;
  font-size: 1.1rem;
  z-index: 1; /* Lower than the button */

}

.details strong {
  z-index: 1; /* Lower than the button */

  display: inline-block;
  width: 20%
}

.board-container {

  margin: 0rem;
  margin-bottom: 0rem;
  align-items: center;
  justify-content: center;
  height: 87vh; /* 100% of the viewport height */
  z-index: 1; /* Lower than the button */

}  

.center-content {
  display: flex;

  border: 5px solid gainsboro;
  border-radius: 1rem;
  z-index: 1; /* Lower than the button */

  /* Additional styles for your centered content */
}

.center-content ul {
  display: flex;
  padding: 0;
  list-style: none;
}

.center-content li {
}

.image-container {
  position: absolute;
  z-index: 1; /* Lower than the button */

 }

.scaled-image:hover{
  opacity: 0.5;
  cursor: move;
}

.scaled-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* This property maintains the aspect ratio of the image */
}


/* .container{
  display: flex;
  margin: 1.5rem;
  margin-top: 3rem;
} */


.widthSelect{
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 3rem;
  margin-left: 3rem;

}

.lengthSelect{
margin-top: 1rem;
margin-bottom: 1rem;
margin-right: 3rem;
margin-left: 3rem;

}

select{
  width: 5rem;
  height: 1.5rem;
  
  outline: 1.8px solid rgb(228, 182, 182);
  border-radius: 0.5rem;
  border: none;
  border-bottom: 1px solid rgb(228, 182, 182);
  font-size: 1.1rem;
  font-weight: 100;
}

label {
  font-size: 1rem;
  margin-right: 1.5rem;


}


.removeItem {
  position: relative;
  margin-top: 1rem;

  margin-bottom: 2rem;
  outline: 1.8px solid rgb(228, 182, 182);
  
  border: none;
  background-color: rgb(237, 215, 215);
  border-bottom: 1px solid rgb(228, 182, 182);
  z-index: 1000000; /* High value to bring the button to the front */

}

.removeItem:hover {
  opacity: 0.5;
}

.adminNotes{
  white-space: wrap; /* Prevents wrapping text to a new line */

}

.details strong {
  display: inline-block;
  width: 20%
}

.buttons-container{
  margin-top: 3rem;

  flex-basis: 100%;
  display: flex;
  justify-content: center;
}