.container {
    margin-top: 1rem;
    justify-content: center;
    margin-right: 1rem;
    margin-bottom: 5rem;

}

.schoolLabel {
    margin-left: 3rem;
}



select{
    width: 15rem;
    height: 1.5rem;
    
    outline: 1.8px solid rgb(228, 182, 182);
    border-radius: 0.5rem;
    border: none;
    border-bottom: 1px solid rgb(228, 182, 182);
    font-size: 1.1rem;
    font-weight: 100;
  }

  label {
    font-size: 1rem;
    margin-right: 1.5rem;


  }



 