
<div class="mat-dialog-container" dir="rtl">
    <h1 class="confirmation-dialog-title mat-dialog-title">ישנם לוחות המחכים לאישור</h1>
    <div class="confirmation-dialog-content mat-dialog-content">{{data.message}}</div>
    <div class="confirmation-dialog-actions mat-dialog-actions">
      <button class="confirmation-dialog-button mat-button" (click)="dialogRef.close(true)">OK</button>
      <button class="confirmation-dialog-button mat-button" (click)="dialogRef.close(false)" >סגור</button>
    </div>
    
    </div>