<div class="container" dir="rtl">

        <div class="custom-select">
            <label class="niceSelect" > 
                בחר רוחב לוח (מטרים)</label>
            <select #widthSelect id="widthSelect" [(ngModel)]="widthOfBoard" (change)="onSelectChange($event)">
                <option *ngFor="let option of widthOptions" [value]="option *10" >{{ option }}</option>
            </select>
           

            
        </div>
  </div>


<div class="board-container"  dir="rtl">

    <div class="center-content"
        [style.height.cm]="12"
        [style.width.cm]="widthOfBoard">
            <ul>
                <li *ngFor="let cartItem of cart.items" >
                    <div class="image-container"
                    [style.height.cm]="cartItem.item.length/10"
                    [style.width.cm]="cartItem.item.width/10">
                        <img class="scaled-image"
                        [src]="cartItem.item.imageUrl"
                        cdkDrag [cdkDragFreeDragPosition]="getPosition(cartItem.position)"
                        cdkDrag cdkDragBoundary=".center-content" 
                        (cdkDragEnded)="onDragEnded($event, cartItem)"> 
                    </div>
                </li>
            </ul>
     </div>
</div>