<div class="container" dir="rtl">

        <div class="custom-select">
            <label class="niceSelect" > 
                בחר רוחב לוח (מטרים)</label>
            <select #widthSelect id="widthSelect" [(ngModel)]="widthOfBoard" (change)="onSelectChange($event)">
                <option *ngFor="let option of widthOptions" [value]="option *10" >{{ option }}</option>
            </select>
           
            <button class="emptyBoard" (click)="EmptyBoard()">  נקה לוח</button>

        </div>
  </div>


  <div class="board-container" dir="rtl">

    <div class="center-content" [style.height.cm]="12" [style.width.cm]="widthOfBoard" >
      <ul>
        <li *ngFor="let cartItem of cart.items">
          <div
            class="image-container"
            id="Icontainer"
            [style.height.cm]="cartItem.item.length / 10"
            [style.width.cm]="cartItem.item.width / 10"
            cdkDrag
            [cdkDragData]="cartItem"
            [cdkDragFreeDragPosition]="getPosition(cartItem.position)"
            (cdkDragEnded)="onDragEnded($event, cartItem)"
            (cdkDragStarted)="onDragStarted($event, cartItem)">
            <img
              class="scaled-image"
              [src]="cartItem.item.imageUrl"
              [style.transform]="getTransformStyle(cartItem)"
              (dblclick)="onDoubleClick(cartItem)" />
          </div>
        </li>
      </ul>
    </div>
    <button class="removeItem" [style.height.cm]="1.5" [style.width.cm]="10" (mouseup)="removeItem()">   גרור לכאן כדי למחוק פריט 🗑️</button>

    </div>