<header>
    <div class = "container">
      <a routerLink="/" class="logo" >Magnetic Boards</a>
      <nav>
        <ul>
          <li *ngIf="!isAuth">
            <a routerLink="/login" >
              <img src="/assets/login.png"/>
            </a>
  
          </li>
          <li  *ngIf="isAuth" class = "menu-container">
            <a routerLink="/dascoard"  >{{user.name}} </a>
            <div class="menu">
              <!-- <a routerLink="/profile" >פרופיל</a> -->
              <a routerLink="/my-boards"  > הלוחות שלי</a>
              <a routerLink="/ordersToConfirm" *ngIf="isAdmin">לוחות לאישור</a>
              <a routerLink="/view-users" *ngIf="isSuperAdmin">הצג משתמשים</a>
              <a routerLink="/view-orders" *ngIf="isSuperAdmin">כל הלוחות</a>
              <!-- <a routerLink="/add-item" *ngIf="isSuperAdmin"> הוסף פריט</a> -->



              <a (click)="logout()">התנתק</a>
  
            </div>
          </li>
          <li>
            <a routerLink="/cart-page">
              <img src="/assets/myBoard.png"/>
          <span *ngIf="cartQuantity">{{cartQuantity}}</span>
            </a>
          </li>
        </ul>
      </nav>
    </div>
  </header>