<div class="container" dir="rtl">
    <div class="content" *ngIf="order">
        <h2> שם לוח: {{order.boardName}}</h2>
            <h3> לוח מספר: {{order.id}}</h3>
        <div class="details">
            <div>
                <strong> תאריך</strong>   {{order.createdAt | date:'medium' }}
            </div>

            <div>
                <strong> שם</strong>   {{order.name}}
            </div>

            <!-- <div>
                <strong> כתובת</strong>   {{order.address}}
            </div> -->

            <div>
                <strong> סטטוס</strong>   {{order.status}}
            </div>
        </div>

        <order-items-list [order]="order"></order-items-list>
    </div>
</div>