.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}

.details{
    width: 28rem;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.register {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}

.errorMessage {
    margin-top: 3rem;
    color: red;
}

img {
    width:70px;
    height: auto;
    border-radius: 1rem;
}