<div class="container" dir="rtl" >
    <div class="content" *ngFor="let order of orders; let i = index"  >

        <div class="checkBoxAndTitle">
            <input type="checkbox" name="cb" [value]="order" (change)="selectItem(order, $event)">
            <h2> שם לוח: {{order.boardName}}</h2>
            <!-- <h3> לוח מספר: {{order.id}}</h3> -->
        </div>


        <div class="details">
            <div>
                <strong> תאריך</strong>   {{order.createdAt  | date:'medium'}}
            </div>

            <div>
                <strong> שם</strong>   {{order.name}}
            </div>

            <!-- <div>
                <strong> כתובת</strong>   {{order.address}}
            </div> -->

            <div>
                <strong> סטטוס</strong>   {{getStatus(order)}}
            </div>

            <div class="adminNotes">
                <strong> הערות מנהל</strong> 
                <div  contenteditable="true" class="editable-input"  (input)="onInput($event, i)" >
                    {{ order.adminNotes }}
                  </div>
                    <button class="sendNotes" (click)="sendNotes($event, order)"> שלח</button>
                 </div>
        </div>

        <order-items-list [order]="order"></order-items-list>

        <div class="board-container">

            <div class="center-content"
                [style.height.cm]="12"
                [style.width.cm]="order.widthOfBoard">
                    <ul>
                        <li *ngFor="let cartItem of order.items" >
                            <div class="image-container"
                            [style.height.cm]="cartItem.item.length/10"
                            [style.width.cm]="cartItem.item.width/10">
                                <img class="scaled-image"
                                [src]="cartItem.item.imageUrl"
                                cdkDrag [cdkDragFreeDragPosition]="getPosition(cartItem.position)"
                                cdkDrag cdkDragBoundary=".center-content" 
                                (cdkDragEnded)="onDragEnded($event, cartItem, order)">

                                
                            </div>
                        </li>
                    </ul>
             </div>

             
        </div>

        <div >
            <button  class="saveAfterEdit" (click)="saveAfterEdit(order)" >
              שמירה לאחר עריכה
            </button>

        </div>

        <div class="border-style">
          </div>
          

    </div>

    
    <div class="buttons-container">

        <button (click)="addToSelectedItems()" *ngIf="orders.length > 0">אישור לוחות</button>
        <strong  *ngIf="orders.length == 0"> אין לוחות לאישור</strong>

        </div> 

</div>


