/* confirmation-dialog.component.scss */

.mat-dialog-container {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 235, 235);
    border-radius: 1rem;
    padding: 3rem;
    opacity: 90%;

  }

.confirmation-dialog {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .confirmation-dialog-title {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .confirmation-dialog-content {
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .confirmation-dialog-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .confirmation-dialog-button {
    margin-left: 10px;
  }