
<div class="mat-dialog-container">
<h1 class="confirmation-dialog-title mat-dialog-title">פעולה זו מותרת לביצוע רק על ידי סופר מנהל</h1>
<div class="confirmation-dialog-content mat-dialog-content">האם אץה בטוח שברצונך למחוק תמונה זו ממאגר התמונות לאלתר?</div>
<div class="confirmation-dialog-actions mat-dialog-actions">
  <button class="confirmation-dialog-button mat-button" (click)="dialogRef.close(true)">כן</button>
  <button class="confirmation-dialog-button mat-button" (click)="dialogRef.close(false)">לא</button>
</div>

</div>