<div class="container" dir="rtl" >
    <div class="content" *ngFor="let order of orders" >

        <div class="checkBoxAndTitle">
            <input type="checkbox" name="cb" [value]="order" (change)="selectItem(order, $event)">
            <h2> הזמנה מספר: {{order.id}}</h2>
        </div>


        <div class="details">
            <div>
                <strong> תאריך</strong>   {{order.createdAt  | date:'medium'}}
            </div>

            <div>
                <strong> שם</strong>   {{order.name}}
            </div>

            <!-- <div>
                <strong> כתובת</strong>   {{order.address}}
            </div> -->

            <div>
                <strong> סטטוס</strong>   {{order.status}}
            </div>
        </div>

        <order-items-list [order]="order"></order-items-list>

        <div class="board-container">

            <div class="center-content"
                [style.height.cm]="12"
                [style.width.cm]="order.widthOfBoard">
                    <ul>
                        <li *ngFor="let cartItem of order.items" >
                            <div class="image-container"
                            [style.height.cm]="cartItem.item.length/10"
                            [style.width.cm]="cartItem.item.width/10">
                                <img class="scaled-image"
                                [src]="cartItem.item.imageUrl"
                                cdkDrag [cdkDragFreeDragPosition]="getPosition(cartItem.position)"
                                cdkDrag cdkDragBoundary=".center-content" 
                                > 
                            </div>
                        </li>
                    </ul>
             </div>
        </div>

        <div class="border-style">
          </div>
          

    </div>

    
    <div class="buttons-container">

        <button (click)="changeStatusToPay()" *ngIf="orders"> שנה סטטוס לשולם</button>
        <strong  *ngIf="!orders"> אין הזמנות לאישור</strong>

        </div> 

</div>


